<nav>
  <div class="nav-wrapper">
    <ul class="left hide-on-med-and-down">
      <li><a [routerLink]="['./create-group']">Create group</a></li>
      <li><a [routerLink]="['./create-user']">Create user</a></li>
      <li><a [routerLink]="['./create-tasks']">Create tasks</a></li>
      <li><a [routerLink]="['./groups-list']">Groups list</a></li>
      <li><a [routerLink]="['./users-list']">Users list</a></li>
      <li><a [routerLink]="['./tasks-list']">Tasks list</a></li>
    </ul>

    <app-logout></app-logout>
  </div>
</nav>
