<table>
  <colgroup>
    <col span="1" style="width: 30%;">
    <col span="1" style="width: 40%;">
    <col span="1" style="width: 30%;">
  </colgroup>

  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th *ngIf="userRole == admin">Group ID</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{task.title}}</td>
      <td>{{task.description}}</td>
      <td *ngIf="userRole == admin">{{task.group_id}}</td>
      <td>
        <div [ngSwitch]="userRole">
          <div *ngSwitchCase="admin">
            <a class="waves-effect waves-light btn" (click)="deleteTask(task.id)">Delete task</a>
          </div>

          <div *ngSwitchCase="groupLead">
            <a class="waves-effect waves-light btn" (click)="assignTask(task.id)">Assign task to worker</a>
          </div>

          <div *ngSwitchCase="groupWorker">
            <a class="waves-effect waves-light btn" (click)="commentTask(task.id)">Comment task</a>
            <a class="waves-effect waves-light btn" (click)="completeTask(task.id)">Complete task</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
