<table>
  <colgroup>
    <col span="1" style="width: 5%;">
    <col span="1" style="width: 15%;">
    <col span="1" style="width: 20%;">
    <col span="1" style="width: 30%;">
    <col span="1" style="width: 15%;">
    <col span="1" style="width: 5%;">
  </colgroup>

  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Comment</th>
    <th>Description</th>
    <th *ngIf="userRole == admin">Group ID</th>
    <th>Is completed</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{task.id}}</td>
      <td>{{task.title}}</td>
      <td>{{task.comment}}</td>
      <td>{{task.description}}</td>
      <td *ngIf="userRole == admin">{{task.group_id}}</td>
      <td>{{task.is_complete}}</td>
      <td>
        <div [ngSwitch]="userRole">
          <div *ngSwitchCase="admin">
            <a class="waves-effect waves-light btn" (click)="deleteTask(task.id)">Delete task</a>
          </div>
          <div *ngSwitchCase="groupLead">
                <p>
                  <input id="userId" type="number" class="validate" [(ngModel)]="userId">
                  <label class="active" for="userId">User ID</label>
                </p>
                <a class="waves-effect waves-light btn" (click)="assignTask(task.id)">Assign task to worker</a>
          </div>
          <div *ngSwitchCase="groupWorker">
            <input id="

" type="text" placeholder="Comment" class="validate" [(ngModel)]="taskComment">
            <a class="waves-effect waves-light btn" (click)="commentTask(task.id)">Comment task</a>
            <a class="waves-effect waves-light btn" (click)="completeTask(task.id)">Complete task</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
