<div class="row">
  <div class="col s8 offset-s2">
    <div class="input-field col s12">
      <input id="login" type="text" class="validate">
      <label for="login">Your login</label>
    </div>
    <div class="input-field col s12">
      <input id="password" type="password" class="validate">
      <label for="password">Your password</label>
    </div>
    <div class="col s12">
      <a class="waves-effect waves-light btn"><i class="material-icons right">send</i>button</a>
    </div>
  </div>
</div>
