<div [ngSwitch]="userRole">
  <div *ngSwitchCase="admin">
    <a class="waves-effect waves-light btn" (click)="deleteTask()">Delete task</a>
  </div>

  <div *ngSwitchCase="groupLead">
    <a class="waves-effect waves-light btn" (click)="assignTask()">Assign task to worker</a>
  </div>

  <div *ngSwitchCase="groupWorker">
    <a class="waves-effect waves-light btn" (click)="commentTask()">Comment task</a>
    <a class="waves-effect waves-light btn" (click)="completeTask()">Complete task</a>
  </div>
</div>
